
* { margin: 0; padding: 0; }

html, body {
    width: 100%;
    height: 100%;
    font: normal 13px/1.5em 'Georgia', serif;
    text-rendering: optimizeLegibility;
    color: #f5f5f5;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.25);
}

h1 {
    margin: 0 0 0.5em 0;
    font-size: 1.25em;
    line-height: 1em;
}

h2, h3, h4 {
    margin: 0 0 1em 0;
    font-size: 1.2em;
    line-height: 1em;
}

h3 {
    font-size: 1em;
}

p {
    /*margin: 0 0 1em 0;*/
}

a {
    text-decoration: underline;
    color: #f5f5f5;
}

a:hover {
    text-decoration: none;
}

li {
    margin: 0.25em 0;
    list-style: none;
}

.nav li {
    display: inline-block;
}

#container {
    width: 100%;
    height: 100%;
    background-color: black;
    position: relative;
    overflow: hidden;
    z-index: 1;
}

#info {
    padding: 2em;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
}

#lines {
    width: 100%;
    height: 100%;
    z-index: 2;
    position: absolute;
    top: 0;
    left: 0;
}

#lines canvas {
    width: 100%;
    height: 100%;
}
