
* { margin: 0; padding: 0; }

html, body {
    width: 100%;
    height: 100%;
    font: normal 13px/1.5em 'Georgia', serif;
    text-rendering: optimizeLegibility;
    color: #f5f5f5;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.25);
}

h1 {
    font-size: 1.25em;
    line-height: 1em;
}

h1.title {
    margin: 0 0 0.5em 0;
}

h2, h3, h4 {
    font-size: 1.2em;
    line-height: 1em;
}

h3 {
    font-size: 1em;
}

p {
    /*margin: 0 0 1em 0;*/
}

a {
    text-decoration: underline;
    color: #f5f5f5;
}

a:hover {
    text-decoration: none;
}

li {
    list-style: none;
}

.nav li {
    margin: 0.25em 0;
    display: inline-block;
}

#container {
    width: 100%;
    height: 100%;
    background-color: black;
    position: relative;
    overflow: hidden;
    z-index: 1;
}

#info {
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 10;
}

#info .info-box {
    padding: 2em;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
}

#lines {
    width: 100%;
    height: 100%;
    z-index: 2;
    position: absolute;
    top: 0;
    left: 0;
}

#lines canvas {
    width: 100%;
    height: 100%;
}

#cv {
    padding: 1em 2em 1em 1em;
    height: 90%;
    background-color: white;
    border: 1px solid #ececec;
    overflow: auto;
    position: absolute;
    top: 1em;
    right: 1em;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.25);
    border-radius: 2px;
    z-index: 1000;
}

#cv .close {
    position: absolute;
    top: 0.5em;
    right: 0.5em;
}

#cv .close a {
    color: #3c3c3c;
}

#cv .block {
    margin: 0 0 1em 0;
}

#cv h2,
#cv h3,
#cv p {
    margin: 0 0 0.5em 0;
}

#cv,
#cv a {
    color: #1c1c1c;
    text-shadow: none;
}
