
.social-links {
  ul {
    li {
      display: inline-block;
      margin: 0 0.25em 0 0;
    }
  }

  a {
    color: inherit;

    .fa {
      color: inherit;
      transition: opacity 0.5s;

      &.fa-soundcloud {
        color: #f50;
      }

      &.fa-github {
        color: #000;
      }

      &.fa-bandcamp {
        &::before {
          background-color: #639aa9;
          color: transparent;
          content: 'b';
          display: inline-block;
          height: 1em;
          transform: skew(-25deg);
          width: 1em;
        }
      }
    }

    &:hover {
      .fa {
        opacity: 0.85;
      }
    }
  }
}

.sections {
  margin: 2em 0;

  section {
    margin: 1em 0;

    h2 {
      cursor: pointer;
      font-size: 1.25em;

      .fa {
        font-size: 0.75em;
      }
    }

    .content {
      padding: 0.5em;

      .item {
        margin: 0.5em 0;
        max-width: 736px;

        .description,
        .link {
          display: block;
        }

        .link {
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }

        .embed {
          position: relative;
          width: 100%;

          &.video {
            height: 0;
            overflow: hidden;
            padding: 0 0 56.25%;

            iframe {
              height: 100%;
              left: 0;
              position: absolute;
              top: 0;
              width: 100%;
            }
          }
        }
      }
    }
  }
}
