
html,
body {
  background-color: #f9f9f9;
}

.hidden {
  display: none !important;
  opacity: 0 !important;
}

.container {
  height: 100%;
  position: relative;
  width: 100%;

  &--centered {
    align-items: center;
    display: flex;
    justify-content: center;
    left: 0;
    position: absolute;
    top: 0;
  }
}

.article__copy {
  margin-top: -2em;
  padding: 1em;
  text-align: center;
}
