
html,
body {
  background-color: #000;
  color: #fff;
  font-family: 'Neuton';
}

a,
a:active,
a:visited {
  color: #fff;
}

.hidden {
  display: none !important;
  opacity: 0 !important;
}

.container {
  height: 100%;
  overflow: hidden;
  position: relative;
  width: 100%;

  &--centered {
    align-items: center;
    display: flex;
    justify-content: center;
    left: 0;
    position: absolute;
    top: 0;
  }
}

canvas {
  mix-blend-mode: overlay;
}

article {
  bottom: 0;
  left: 0;
  position: absolute;
  width: 100%;

  .article__copy {
    padding: 1em;
    text-align: center;
  }

  h1,
  ul,
  li {
    display: inline-block;
    font-size: 1em;
  }

  h1,
  li {
    margin: 0 0.25em 0 0;
  }
}
