
html,
body {
  background-color: $color-smoke;
}

a,
a:active,
a:visited {
  color: $color-smoke;
}

.hidden {
  display: none !important;
  opacity: 0 !important;
}

.container {
  height: 100%;
  position: relative;
  width: 100%;

  &--centered {
    align-items: center;
    display: flex;
    justify-content: center;
    left: 0;
    position: absolute;
    top: 0;
  }
}

article {
  mix-blend-mode: exclusion;

  .article__copy {
    color: $color-smoke;
    margin-top: -2em;
    padding: 1em;
    text-align: center;
  }
}
