@import '../../less/variables.less';

:local {
  .container {
    margin: @spacing * 3 @spacing * 2;
    max-width: @spacing * 32;

    @media @mobile {
      max-width: 100%;
    }
  }

  .box {
    display: inline-block;
    padding: @spacing @spacing * 2;

    p {
      margin: unit((@spacing / 2), em) 0;
    }
  }

  .listItem {
    a {
      border-bottom: 1px dotted @colorBlack;
      color: @colorBlack;
      display: inline-block;
      margin: 0 0 unit((@spacing / 2), em) 0;
      text-decoration: none;
      transition: all @transitionDelay ease-in-out;

      &:hover {
        border-color: transparent;
      }
    }
  }
}
