@colorBlack: #0c0c0c;
@colorWhite: #fff;
@colorSmoke: #f2f2f2;
@colorBlue: #000eb9;

// @colorDarkRose: #b2abab;
// @colorDarkRose: #b3b2b2;
// @colorDarkRose: #dedede;
// @colorDarkRose: #c6c6c6;
@colorDarkRose: #c3c2c2;
// @colorDarkRose: #cbcbcb;
// @colorDarkRose: #b2b2b2;

@colorLumen: rgba(84, 253, 255, 0.95);
@fontFamily: Charter, Times New Roman, Times, serif;
@fontSize: 16px;
@fontSizeLarge: 18px;
@fontWeight: 400;
@lineHeight: 1.5em;
@spacing: 0.5em;
@spacingLarge: 0.75em;
@mobile: ~"only screen and (max-device-width: 768px)";
@desktop: ~"not screen and (max-device-width: 768px)";
