@import '../less/variables.less';

.content {
  &.inverse {
    @media @desktop {
      background-color: @colorBlue;
      padding: @spacing;

      h1,
      h2,
      p,
      a {
        color: @colorWhite;
      }
    }
  }
}
