<!DOCTYPE html>
<html>
<head>

  <title>Cory O'Brien</title>

  <meta name="description" content="Sound artist and interactive developer from Washington, DC" />

  <meta http-equiv="Content-type" content="text/html; charset=utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />

  <meta name="google-site-verification" content="Ydq_4fjxlJ7tZVQZzS4DXQ1VDqWU7lCIT_fiw_HUJlQ" />

  <meta name="author" content="Cory O'Brien">

  {{#if prod}}
  <link rel="stylesheet" type="text/css" href="/assets/main.min.css" />
  <script src="/assets/app.min.js"></script>
  {{else}}
  <link rel="stylesheet" type="text/css" href="/assets/main.css" />
  <script src="/assets/app.js"></script>
  {{/if}}

  <script>
  window.addEventListener('load', function () {
    app && app.run();
  });
  </script>

</head>
<body>
<div id="app-container" class="container">
  <article>
    <h1>Cory O'Brien</h1>
    <p>Sound artist and interactive developer from Washington, DC<br />
      Currently living in Cusco, Peru</p>
    <div class="social-links">
      <ul>
        <li>
          <a href="http://soundcloud.com/prtcl" target="_blank">
            <i class="fa fa-soundcloud"></i> SoundCloud
          </a>
        </li>
        <li>
          <a href="http://github.com/prtcl" target="_blank">
            <i class="fa fa-github"></i> GitHub
          </a>
        </li>
        <li>
          <a href="http://bc.prtcl.cc" target="_blank">
            <i class="fa fa-bandcamp"></i> Bandcamp
          </a>
        </li>
        <li>
          <a href="mailto:cory@prtcl.cc">cory@prtcl.cc</a>
        </li>
      </ul>
    </div>
    <sections></sections>
  </article>
</div>
</body>
</html>