@colorBlack: #0c0c0c;
@colorWhite: #fff;
@fontFamily: Helvetica Neue, Helvetica, sans-serif;
@fontSize: 24px;
@fontWeight: 400;
@lineHeight: 1.5em;
@paddingSmall: 0.05em;
@paddingLessSmall: 0.15em;

@keyframes backgroundDrift {
  from {
    background-position: calc(50% - -10px) center; 
  }

  to {
    background-position: calc(50% - 10px) center; 
  }
}

* {
  margin: 0;
  padding: 0;

  &,
  &::after,
  &::before {
    box-sizing: border-box;
  }
}

html,
body {
  font-family: @fontFamily;
  font-size: @fontSize;
  font-weight: @fontWeight;
  height: 100%;
  overflow: hidden;
  position: relative;
  text-rendering: optimizeLegibility;
  width: 100%;
}

::selection {
  background-color: rgba(84, 253, 255, 0.95);
  color: #000;
}

.container {
  height: 100%;
  overflow: hidden;
  position: relative;
  width: 100%;
  z-index: 0;
}

.scroll-container {
  height: '100%';
  overflow-x: hidden;
  overflow-y: auto;
  position: relative;
  width: '100%';
}

main {
  align-items: flex-start;
  background-image: url(assets/tree.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  padding: @paddingLessSmall * 2;
  width: 100%;
  z-index: 0;

  article,
  section {
    padding: @paddingLessSmall;
    z-index: 1;
  }

  p,
  a,
  h1,
  h2 {
    background-color: rgba(84, 253, 255, 0.75);
    color: @colorBlack;
  }

  h1,
  h2 {
    display: inline-block;
    font-size: @fontSize;
    font-weight: @fontWeight;
    margin: 0 0 @paddingLessSmall * 2 0;
    padding: @paddingSmall;
  }

  p {
    padding: @paddingSmall @paddingLessSmall;
  }

  a {
    color: @colorWhite;
    padding: @paddingSmall;

    &:hover {
      background-color: rgba(195, 162, 225, 65%)
    }
  }

  li {
    margin: 0 0 @paddingLessSmall 0;
    padding: @paddingSmall
  }

  .drift {
    animation: backgroundDrift 15s ease-in-out infinite alternate;
    background-image: url(assets/tree.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 
    height: 100%;
    left: 0;
    opacity: 0.25;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 0;
  }
}
