@colorBlack: #0c0c0b;
@colorSage: #d1d4d2;
@colorShadow: 1px 1px 1px rgba(0, 0, 0, 0.35);
@colorTransparentSmoke: rgba(0, 0, 0, 0.15);
@colorWhite: #fff;
@fontFamily: Helvetica Neue, Helvetica, sans-serif;
@fontSize: 32px;
@fontWeight: 400;
@lineHeight: 53px;
@mobileFontSize: 24px;
@mobileLineHeight: 40px;

* {
  margin: 0;
  padding: 0;

  &,
  &::after,
  &::before {
    box-sizing: border-box;
  }
}

html,
body {
  background-color: @colorBlack;
  font-family: @fontFamily;
  font-size: @fontSize;
  font-weight: @fontWeight;
  height: 100%;
  line-height: @lineHeight;
  overflow: hidden;
  position: relative;
  text-rendering: optimizeLegibility;
  width: 100%;
}

::selection {
  background-color: rgba(84, 171, 255, 0.95);
  color: #fff;
}

.container {
  height: 100%;
  overflow: hidden;
  position: relative;
  width: 100%;
  z-index: 0;
}

.app-container {
  display: flex;
  justify-content: flex-start;

  .rain {
    height: 100%;
    left: 0;
    object-fit: cover;
    position: absolute;
    top: 0;
    width: 100%;
  }
}

.content {
  background-color: @colorTransparentSmoke;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  margin: @fontSize / 2;
  overflow-x: hidden;
  overflow-y: auto;
  padding: @fontSize;
  text-shadow: @colorShadow;
  z-index: 2;

  .copy {
    flex: 1;
  }

  .links {
    ul {
      align-items: center;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }
  }

  &,
  a {
    color: @colorWhite;
  }

  p {
    margin: 0 0 @fontSize / 2 0;
  }

  a,
  a:active,
  a:visited {
    text-decoration: underline;
  }

  a:hover {
    text-decoration: none;
  }

  ul {
    margin: 0;
  }

  li {
    line-height: @lineHeight;
    list-style: none;
    margin: 0;
  }

  @media only screen and (max-width: 414px) {
    flex-direction: column;
    font-size: @mobileFontSize;
    line-height: @mobileLineHeight;
    margin: @fontSize / 4;
    padding: @fontSize / 2;
    width: 100%;

    .copy {
      margin: 0;
      padding: 0;
    }

    .links {
      li {
        line-height: @mobileLineHeight;
      }
    }
  }

  @media only screen and (max-width: 768px) {
    .links {
      li {
        flex-basis: 50%;

        &:nth-child(even) {
          text-align: right;
        }
      }
    }
  }
}
